<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>paragraph</topmenu>
  <topmenu>specialtype</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>justifyleft</topmenu>
  <topmenu>justifycenter</topmenu>
  <topmenu>justifyright</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>undo</topmenu>
  <topmenu>redo</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>delete</topmenu>
  <topmenu>cut</topmenu>
  <topmenu>copy</topmenu>
  <topmenu>paste</topmenu>
  <topmenu>date</topmenu>
  <topmenu>emot</topmenu>
  <topmenu>printer</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>br</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>selFont</topmenu>
  <topmenu>fontSize</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <topmenu>dragtoolbar</topmenu>
  <topmenu>bold</topmenu>
  <topmenu>italic</topmenu>
  <topmenu>underline</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>font</topmenu>
  <topmenu>bgcolor</topmenu>
  <topmenu>blank</topmenu>
  <topmenu>createlink</topmenu>
  <topmenu>inserthorizontalrule</topmenu>
  <topmenu>insertorderedlist</topmenu>
  <topmenu>insertunorderedlist</topmenu>
  <topmenu>outdent</topmenu>
  <topmenu>indent</topmenu>
  <topmenu>insertfile</topmenu>
  <topmenu>dragtoolbarend</topmenu>
  <statusmenu>dragtoolbar</statusmenu>
  <statusmenu>imgsource</statusmenu>
  <statusmenu>imgedit</statusmenu>
  <statusmenu>imgpreview</statusmenu>
  <statusmenu>plus</statusmenu>
  <statusmenu>min</statusmenu>
  <statusmenu>dragtoolbarend</statusmenu>
  <bottommenu>dragtoolbar</bottommenu>
  <bottommenu>symbol</bottommenu>
  <bottommenu>fullscreen</bottommenu>
  <bottommenu>table</bottommenu>
  <bottommenu>help</bottommenu>
  <bottommenu>dragtoolbarend</bottommenu>
</configuration>