.currentNode,.rootNode 
{
    display: inline-block;
    width: 100px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #0066FF;
}
.rootNode
{
    color: #fff;
}
.currentNode
{
    background-color: #6699FF;
}
.checkbox input
{
    width: 14px;
    height: 14px;
    margin-bottom: 0;
}
.checkbox label
{
    line-height: 16px;
    font-size: 18px;
}
.buttonStyle
{
    width: 60px;
    height: 30px;
    background-color: #3b6ea5;
    border: 1px Outset #fff;      
    color: #fff;
}

